body {
    background: black;
    color: #00f7ff;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}

h1 {
    color: #ff00ff;
}
